@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500&family=Raleway:wght@300;400;500;600;700;800&display=swap");

.container {
  font-size: 62.5%;
  font-family: "Raleway";
  line-height: normal;
  width: 1440px;
  margin: 5rem auto;
}
/* HEADER */
header {
  position: fixed;
  top: 0%;
  z-index: 1;
  width: 100%;
  max-width: 1440px;
}
.header_bar {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}
.fa-slack {
  font-size: 3rem;
  color: white;
}
.fa-cart-shopping {
  font-size: 2rem;
  color: white;
}
.fa-heart {
  font-size: 2rem;
  color: white;
}
.logo {
  display: flex;
  margin-left: 2rem;
}
.logo-text {
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  color: white;
  font-size: 2rem;
  text-align: center;
  text-decoration: none;
}
/* CART */
.cart {
  margin-right: 2rem;
}
.cart-text {
  margin-left: 0.8rem;
  font-size: 2rem;
  text-decoration: none;
  color: white;
  font-weight: 400;
  text-align: center;
}
.cart-text span {
  display: inline-block;
  width: 20px;
  height: 20px;
  color: white;
  background: #f5ae18;
  border-radius: 50%;
  position: relative;
  text-align: center;
  right: -8px;
  top: -19px;
  font-size: 1rem;
}
/* CART DIALOG */

.cart_dialog,
.cart_dialog2 {
  position: fixed;
  top: -45%;
  left: 45%;
  border: none;
  background-color: #fff;
  z-index: 99;
  padding: 1rem 2rem;
  text-align: end;
  border-radius: 1rem;
}
.your_cart {
  text-align: center;
  color: grey;
}
.empty_cart_title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.empty_cart_text {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}
.fa-face-smile-wink {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #f5ae18;
}
.close_modal {
  font-size: 1.5rem;
  color: #f5ae18;
}
/* Main section */
.photo {
  width: 50%;
  margin: auto 2rem;
}
.description {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.description > * {
  margin: 2rem 0 2rem 2rem;
  font-size: 2rem;
}
.price {
  margin-top: 1rem;
}
.product_title span {
  color: grey;
  font-size: 1rem;
  margin-right: 1rem;
}
.price span {
  color: grey;
  font-size: 1rem;
  margin-right: 1rem;
}
.stars span {
  color: grey;
  font-size: 1rem;
}

.current_photo {
  display: flex;
  height: 600px;
}
.photo img {
  display: block;
  width: 100%;
  height: 400px;
  object-fit: cover;
  margin: 1rem auto;
  border-radius: 2rem;
}

.fa-star {
  color: #f5ae18;
}
.add_to_cart {
  padding: 1rem;
  background-color: #00a081;
  color: white;
  text-decoration: none;
  font-size: 1rem;
  width: 60%;
  text-align: center;
  display: inline-block;
  margin-top: 3rem;
}

/* Footer */
.footer_bar {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  font-size: 1.4rem;
  background-color: #000;
}
.copy {
  color: white;
  margin: 2rem;
}

.social_media {
  display: flex;
  gap: 3rem;
  color: white;
  margin: 2rem;
}
.fa-facebook,
.fa-envelope {
  color: white;
}
/* Modal Window */

dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}
.contact_us {
  text-align: end;
  border: none;
  width: 50%;
  border-radius: 1rem;
}
.send_message_dialog {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
}
.send_letter_form {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.contact {
  font-size: 2rem;
  font-weight: 600;
}
.email_label,
.text-area {
  margin-bottom: 0.5rem;
}
.email {
  padding: 1rem 3rem;
  margin-bottom: 1rem;
}
.message_text {
  height: 30px;
  padding: 1rem 3rem;
}
.send_message_btn {
  border-radius: 1rem;
  color: #ffffff;
  background-color: rgb(12, 184, 12);
  padding: 0.5em;
  display: block;
  text-align: center;
  margin: 2rem auto 0;
  text-decoration: none;
}
.send_message_btn:hover {
  border: 1px solid rgb(3, 52, 3);
}

@media screen and (max-width: 768px) {
  .cart_dialog2 {
    top: -60%;
    left: 70%;
  }
}

@media screen and (max-width: 425px) {
  .header_bar {
    height: 120px;
  }
  .fa-slack,
  .fa-cart-shopping {
    font-size: 4rem;
  }
  .cart-text,
  .logo-text {
    display: none;
  }
  .cart_dialog2 {
    top: -75%;
    left: 70%;
  }
  .current_photo {
    height: auto;
    flex-direction: column;
    justify-content: center;
  }
  .photo{
    margin: 3rem 2rem;
    width: 95%;

  }
  .photo img {
    height: 600px;
  }
  .description{
    width: 95%;
  }
  .description > * {
    font-size: 4rem;
    text-align: center;
  }
  .copy {
    display: none;
  }
  .footer_bar {
    justify-content: end;
  }
  .social_media {
    font-size: 4rem;
  }
}

@media screen and (max-width: 375px) {
  .cart_dialog2 {
    top: -77%;
    left: 70%;
  }
}
