@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500&family=Raleway:wght@300;400;500;600;700;800&display=swap");

.container {
  font-size: 62.5%;
  font-family: "Raleway";
  line-height: normal;
  width: 1440px;
  margin: 5rem auto;
}
/* HEADER */
header {
  position: fixed;
  top: 0%;
  z-index: 1;
  width: 100%;
  max-width: 1440px;
}
.header_bar {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}
.fa-slack {
  font-size: 3rem;
  color: white;
}
.fa-cart-shopping {
  font-size: 2rem;
  color: white;
}
.fa-heart {
  font-size: 2rem;
  color: white;
}
.logo {
  display: flex;
  margin-left: 2rem;
}
.logo-text {
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  color: white;
  font-size: 2rem;
  text-align: center;
  text-decoration: none;
}
/* CART */
.cart {
  margin-right: 2rem;
}
.cart-text {
  margin-left: 0.8rem;
  font-size: 2rem;
  text-decoration: none;
  color: white;
  font-weight: 400;
  text-align: center;
}
.cart-text span {
  display: inline-block;
  width: 20px;
  height: 20px;
  color: white;
  background: #f5ae18;
  border-radius: 50%;
  position: relative;
  text-align: center;
  right: -8px;
  top: -19px;
  font-size: 1rem;
}
/* CART DIALOG */

.cart_dialog,
.cart_dialog2 {
  position: fixed;
  top: -45%;
  left: 45%;
  border: none;
  background-color: #fff;
  z-index: 99;
  padding: 1rem 2rem;
  text-align: end;
  border-radius: 1rem;
}
.your_cart {
  text-align: center;
  color: grey;
}
.empty_cart_title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.empty_cart_text {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}
.fa-face-smile-wink {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #f5ae18;
}
.close_modal {
  font-size: 1.5rem;
  color: #f5ae18;
}

/* Cart items */
.shoping_cart {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.cart_header {
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}
.cart_titles {
  font-size: 2.2rem;
  color: black;
  font-weight: 600;
}
.action {
  font-size: 1.6rem;
  font-weight: 600;
  color: #e44c4c;
  cursor: pointer;
  border-bottom: 1px solid #e44c4c;
}
.cart-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.image-box {
  width: 25%;
  text-align: center;
  margin: 1rem;
}
.cart_photo {
  width: 100%;
  border-radius: 1rem;
}
.about {
  width: 30%;
  text-align: center;
}
.title {
  padding-top: 1rem;
  font-size: 2.2rem;
  font-family: "Open Sans";
  font-weight: 800;
  color: #202020;
}
.counter {
  width: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.counter input {
  width: 20%;
}
.quantity {
  font-size: 1rem;
  color: #202020;
  align-items: center;
}
.prices {
  height: 100%;
  width: 15%;
  text-align: center;
}
.amount {
  padding-top: 20px;
  font-size: 1.8rem;
  font-family: "Open Sans";
  font-weight: 800;
  color: #202020;
}

hr {
  width: 66%;
  float: right;
  margin-right: 5%;
}
.checkout {
  margin-left: 65%;
  width: 30%;
}
.total {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.total h3 {
  font-size: 2rem;
}
.items {
  font-size: 16px;
  font-family: "Open Sans";
  font-weight: 500;
  color: #909090;
  line-height: 10px;
}
.total-amount {
  font-size: 2.2rem;
  font-family: "Open Sans";
  font-weight: 900;
  color: #202020;
}
.button {
  margin-top: 1rem;
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  color: #202020;
}

/* DIALOG */
#confirm {
  width: 50%;
  text-align: right;
  border: none;
}
.confirm_item {
  display: flex;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.confirm_title {
  font-size: 2.4rem;
  margin: 1rem;
  font-weight: 600;

}
.fa-xmark {
  font-size: 2rem;
}

.confirm_text,
.confirm_text2 {
  text-align: center;
  font-size: 2.4rem;
  width: 70%;

}
.confirm_text2 {
  margin-top: 5rem;
  font-weight: 600;
}
.order_info {
  display: flex;
  flex-direction: column;
}
.order_info_title {
  font-size: 2rem;
  margin: 0.5em;
  text-align: center;
  font-weight: 600;
}
.order_info_product {
  display: flex;
  margin: 1rem;
}
.product_photo{
  text-align: center;
}
.product_photo img {
  width: 50%;
}
.product_text {
  width: 90%;
}
.product_text h3, p{
  width: 100%;
  font-size: 2rem;
  text-align: initial;
  margin-bottom: 1rem;
  color: #000;

}
.product_text p{
  width: 100%;
  font-size: 2rem;
  text-align: initial;
  margin-top: 1rem;

}
.stars
{
  color: #f5ae18;
  font-size: 2rem;
  text-align: initial;
}
hr{
  width: 100%;
}
.confirmattion_action{
  display: flex;
  gap: 5rem;
  text-align: center;
}
.print, .save{
  font-size: 2.4rem;
  margin-top: 2rem;
  color: rgb(63, 62, 62);
}
.print_title, .save_title{
  font-size: 1.4rem;
  margin: .5em 0 2rem 0;
}
.print_hover i:hover, .print_hover:hover{
  color: #f5ae18;
}
.save_hover i:hover, .save_hover:hover{
  color: #f5ae18;
}




@media screen and (max-width: 768px) {
  .cart_titles {
    font-size: 1.4rem;
  }
  .action {
    font-size: 1rem;
  }
  .title {
    font-size: 1rem;
    padding: 0;
  }
  .counter input {
    width: 10%;
    padding: 0.5rem;
  }
  .amount {
    font-size: 1.4rem;
    padding: 0;
  }
  .total h3 {
    font-size: 1rem;
  }
  .total-amount {
    font-size: 1.4rem;
  }
  .button {
    margin-top: 1.4rem;
  }
  .fa-cart-shopping {
    display: none;
  }
  .logo-text {
    display: none;
  }
}

/* Footer */
/* Footer */
.footer_bar {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  font-size: 1.4rem;
  background-color: #000;
}
.copy {
  color: white;
  margin: 2rem;
}

.social_media {
  display: flex;
  gap: 3rem;
  color: white;
  margin: 2rem;
}
.fa-facebook,
.fa-envelope {
  color: white;
}
/* Modal Window */

dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}
.contact_us {
  text-align: end;
  border: none;
  width: 50%;
  border-radius: 1rem;
}
.send_message_dialog {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
}
.send_letter_form {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.contact {
  font-size: 2rem;
  font-weight: 600;
}
.email_label,
.text-area {
  margin-bottom: 0.5rem;
}
.email {
  padding: 1rem 3rem;
  margin-bottom: 1rem;
}
.message_text {
  height: 30px;
  padding: 1rem 3rem;
}
.send_message_btn {
  border-radius: 1rem;
  color: #ffffff;
  background-color: rgb(12, 184, 12);
  padding: .5em;
  display: block;
  text-align: center;
  margin: 2rem auto 0;
  text-decoration: none;
}
.send_message_btn:hover {
  border: 1px solid  rgb(3, 52, 3);
}
